---
layout: default
permalink: /3-17-program
---

<div>
  
  <p>
    Thanks for joining the <a href="/">MDBQ</a>! Tonight we will be playing for you:
  </p>
  <ul>
    <li>
      Bach: Christe eleison
    </li>
    <li>
      Gesualdo: O vos omnes
    </li>
    <li>
      Brucker: Christus factus est
    </li>
    <li>
      Gesualdo: Moro, lasso, al mio duolo
    </li>
    <li>
      Bach: The Well Tempered Clavier II, F Minor
    </li>
    <li>
      Andrew: ???
    </li>
  </ul>
  <hr/>
  <ul>
    <li>
      Monteverdi: Ecco mormorar l'onde
    </li>
    <li>
      Bach: The Well Tempered Clavier II, G Minor
    </li>
    <li>
      Lili: Blue Hole
    </li>
    <li>
      Mozart: Fantasia in F minor, K.608
    </li>
  </ul>
  <hr/>
  
  <p>
    The MDBQ is:
  </p>
  <div>
    <ul class="random-order-list">
      <li><a href="https://andrewyoon.art">Andrew Yoon</a></li>
      <li><a href="https://linktr.ee/lilifae">Lili Tobias</a></li>
      <li><a>Lara Lewison</a></li> <!-- no link for lara -->
      <li><a href="https://hankthemason.com/">Hank Mason</a></li>
    </ul>
  </div>
  
  <p>
    <a href="https://instagram.com/mdbquartet">Follow us on Instagram!</a>
  </p>
  <p>
    <a href="/">Learn more about us!</a>
  </p>
  <p>
    Love you!
  </p>


</div>
