---
layout: default
---

<h1><span class="minor-word">the</span> Melodica Drone <span class="minor-word">and</span> Bach Quartet</h1>

<div class="content-body">

  <div>
    <p>
      A New York free reed ensemble consisting of
    </p>
  </div>

  <div>
    <ul class="random-order-list">
      <li><a href="https://andrewyoon.art">Andrew Yoon</a></li>
      <li><a href="https://linktr.ee/lilifae">Lili Tobias</a></li>
      <li><a>Lara Lewison</a></li> <!-- no link for lara -->
      <li><a href="https://hankthemason.com/">Hank Mason</a></li>
    </ul>
  </div>
    <figure>
    <picture>
      <source media="(min-width: 800px)" srcset="/static/img/press_photo_high_res.webp">
      <img src="/static/img/press_photo_low_res.webp" alt="The ensemble holding their instruments (three melodicas and one accordion) and making silly faces">
    </picture>
    <figcaption>Photo by F.M.V.F. Bello</figcaption>
  </figure>

  <div>
    <p>
      Do you like drone music and Bach and melodicas? 
      <ul>
        <li><a href="https://instagram.com/mdbquartet">Follow us on Instagram!</a></li>
        <li><a href="https://www.youtube.com/@melodicadbq">Subscribe to us on YouTube!</a></li>
        <li>Check out Andrew's album of <a href="https://yoonandrew.bandcamp.com/album/the-complete-bach-cello-suites-on-melodica">The Complete Bach Cello Suites</a> on melodica!</li>
      </ul>
    </p>
  </div>


  <div class="footer">
    <div class="alums-block"><a href="/alums.html">Alums</a></div>
    <div class="site-info-block"><a href="/site-info.html">Site info</a></div>
  </div>

</div>
