<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{{ site.title }}{% if page.title %} | {{ page.title }}{% endif %}</title>
        <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet">
        <link rel="stylesheet" href="/css/style.css">
        <meta property="og:image" content="{{ "/static/img/thumbnail.png" | absolute_url }}" />
        <meta property="og:image:width" content="1165" />
        <meta property="og:image:height" content="610" />
        <meta property="description" content="a new york free reed ensemble" />
        <meta property="og:description" content="a new york free reed ensemble" />
        <meta name="twitter:card" content="summary_large_image">
        {% include piwik.html %}
    </head>
    <body>
      <section>
        {{ content }}
      </section>
    </body>
    <script>
     {% include randomDesign.js %}
    </script>
</html>
